.header{
    background-color: rgb(80, 199, 218);
    padding: 5px;
    font-family: "Roboto", sans-serif;
    font-size: x-small;
    color: aliceblue;
    
    text-align: center;

  
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

image{
    padding: 20%;
    margin: 0%;
}


p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding-left: 10%;
    padding-top: 4%;
    padding-right: 10%;
    text-align: center;
    color: rgb(96, 96, 96);
    font-size:x-large;
}

.servicios{
    color: rgb(96, 96, 96);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 2%;
}

.productos{
    color: rgb(96, 96, 96);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding:2%;
}